<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Hello Plant Lover 🌱</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
<div class="container">



  <div class="cards">
    <% @plants.each do |plant| %>
      <div class="card-trip">
        <%= link_to "", plant_path(plant), class:'plant-card-link' %>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2><%= plant.name %></h2>
            <p><%= plant.description %></p>
          </div>
          <h2 class="card-trip-pricing">£<%= plant.price_per_day %></h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    <% end %>
  </div>

</div>
